mixin spinner(style, args)
  -block_style="spinner"
  -style=style ? block_style+" "+style : block_style
  -args=args ? args : {}
  div(class=style)
    .spinner__bar.spinner__bar_1
    .spinner__bar.spinner__bar_2
    .spinner__bar.spinner__bar_3
    .spinner__bar.spinner__bar_4
    .spinner__bar.spinner__bar_5
    .spinner__bar.spinner__bar_6
    .spinner__bar.spinner__bar_7
    .spinner__bar.spinner__bar_8
    .spinner__bar.spinner__bar_9
    .spinner__bar.spinner__bar_10
    .spinner__bar.spinner__bar_11
    .spinner__bar.spinner__bar_12